.jumbotron {
  text-align: center;
}

.thumbnail {
	padding: 0px;
}

.thumbnail .caption-full {
	padding: 9px;
}

.thumbnail .img-show {
  height: 200px;
  width: 100%;
}

.thumbnail .img-responsive {
  height: 450px;
  width: 100%;
}

.caption {
  padding: 9px 0px 0px 0px;
}

#delete-form {
	display: inline;
}

#footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#map {
  height: 400px;
  width: 100%;
}