<% include ../partials/header %>

<div class="container" style="text-align: center">
	<h1>Add new comment to <%= campground.name %></h1>
	<div class="row" style="width: 20%; margin: auto;">
		<form action="/campgrounds/<%= campground._id %>/comments" method="POST">
			<div class="form-group">
				<input class="form-control" type="text" name="comment[text]" placeholder="text">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="comment[author]" placeholder="author">
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-default">Submit!</button>
			</div>		    
		</form>
	</div>
	<a href="/campgrounds">Go Back</a>
</div>

<% include ../partials/footer %>